<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission
        android:name="com.zzzzzz.sleeptrigger.permission.TRIGGER_FROM_WEAR"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".task.DelayedTaskReceiver"
            android:exported="false" />

        <receiver
            android:name=".wear.PhoneTriggerReceiver"
            android:exported="true"
            android:permission="com.zzzzzz.sleeptrigger.permission.TRIGGER_FROM_WEAR">
            <intent-filter>
                <action android:name="com.zzzzzz.sleeptrigger.TRIGGER_FROM_WEAR" />
            </intent-filter>
        </receiver>

        <service
            android:name=".media.MediaPauseNotificationListener"
            android:exported="true"
            android:label="@string/notification_listener_label"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>
</manifest>
